@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica;
}
.backgorundColor {
  background: radial-gradient(
      800px circle at center 10px,
      #180b39,
      #130829,
      #0f071f,
      35%,
      transparent 51%
    ),
    radial-gradient(
      800px circle at right center,
      #180b39,
      #130829,
      #0f071f,
      36%,
      transparent 50.4%
    ),
    radial-gradient(
      1400px circle at 20px bottom,
      #311d66,
      #2c1755,
      #1f0f3d,
      36%,
      transparent 51%
    );
  background-color: #000000;
}
.cardBg {
  background: radial-gradient(
    500px circle at center 90px,
    #1a2845,
    #0f1629,
    #10091b,
    #10091b,
    #170a29,
    #130822,
    #08040e,
    65%,
    transparent 51%
  );
}
.activeBg {
  background-color: #170a29;

}
.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_list .list_item a {
  display: block;
  font-size: 17px;
  font-style: normal;
  position: relative;
}
.nav_list .active {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  @apply bg-gradient-to-l from-[#4d1f8d] via-[#7c70c7] to-[#6051e7] py-2 px-4 rounded-lg shadow-md;
  position: relative;
  overflow: visible;
}
.nav_list .list_item:hover {
  padding-top: 0.5rem /* 4px */;
  padding-bottom: 0.5rem /* 4px */;
  border-radius: 0.5rem /* 8px */;
  background-color: #6b21a8;
}

.main_btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  @apply bg-gradient-to-l from-[#4d1f8d] via-[#7c70c7] to-[#6051e7] py-2 px-4 rounded-lg shadow-md;
  position: relative;
  overflow: visible;
}
.mobile_navbar {
  width: 100%;
}

.mobile_navbar .nav_list {
  display: block;
  width: 100%;
}

.mobile_navbar .nav_list .list_item {
  padding: 0;
}

.mobile_navbar .nav_list .list_item a {
  padding: 15px;
  line-height: 40px;
}
::-webkit-scrollbar {
  @apply w-1 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-white/20;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#6b21a8];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black/40;
}
.nav_action {
  @apply flex justify-end items-center;
}

.nav_action button {
  @apply ml-4;
}

.nav_action button img {
  @apply w-[40px] h-[40px];
}

.nav_action .btn_connect {
  @apply w-[156px] h-[40px] rounded-full text-black;
}

.bg-secondary {
  @apply bg-gradient-to-l from-[#1e0e34] to-[#0d0417] rounded-xl text-center shadow-lg;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

/** Token Select **/

.custom_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 46px;
  height: 60px;
  padding-left: 10px;
  padding-right: 32px;
  background-color: rgb(0 0 0 / 0.3);
}

@media (max-width: 376px) {
  .custom_input {
    padding: 20px;
  }

  .custom_input input {
    font-size: 18px !important;
  }

  .swap_btn_box::after,
  .swap_btn_box::before {
    height: 40px !important;
  }

  .swap_btn_box {
    background-color: rgb(0 0 0 / 0.6);
    height: 40px !important;
  }

  .swap_btn_box button img {
    width: 1.5rem;
  }
}
.custom_input .token_select {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.token_prices input {
  @apply bg-transparent;
  height: 32px;
  font-size: 20px;
  text-align: end;
  color: #ffffff;
  width: 100%;
}

.token_prices input:focus {
  outline: unset;
}

.swap_btn_box {
  width: 120px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swap_btn_box2 {
  width: 200px;
  height: 50px;
  background-color: rgb(0 0 0 / 0.6);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.swap_btn_box::after {
  content: " ";
  width: 50px;
  height: 50px;
  position: absolute;
  left: -25px !important;
  border-radius: 30px;
}

.swap_btn_box2::after {
  content: " ";
  width: 50px;
  height: 50px;
  position: absolute;
  left: -25px !important;
  border-radius: 30px;
}

.swap_btn_box::before {
  content: " ";
  width: 50px;
  height: 50px;
  position: absolute;
  right: -25px !important;
  border-radius: 30px;
}

.swap_btn_box2::before {
  content: " ";
  width: 50px;
  height: 50px;
  position: absolute;
  right: -25px !important;
  border-radius: 30px;
}